$background = #22c1c3
$back = #fdbb2d

body
	background: $background
	background: -webkit-linear-gradient(to right, $back, $background)
	background: linear-gradient(to right, $back, $background)
	font-family: "Dosis", sans-serif
	color: white
