.temperature
	height: 627px
	width: 50%
	display: inline-flex

	&-data
		margin: auto

p
	margin: auto
	font-size: 150px

.city
	font-size: 50px

.weather
	font-size: 30px

.time-sydney
	position: absolute
	top: 550px
	right: 487px

.time-paris
	position: absolute
	top: 550px
	left: 290px

.info-sydney
	position: absolute
	top: 585px
	right: 452px
	font-size: 16px

.info-paris
	position: absolute
	top: 585px
	left: 290px
	font-size: 16px
