.temperature
	height: 627px
	width: 50%
	display: inline-flex

	&-data
		margin: auto

p
	margin: auto
	font-size: 150px

.city
	font-size: 50px

.weather
	font-size: 30px

.time
	position: absolute
	top: 550px
	right: 506px
